<div class='container-fluid p-0'>
  <div class='position-relative'>
    <img
      src='../public/img/bg.png'
      alt=''
      style='
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(5px); '
    />
    <div class='position-absolute top-50 start-50 translate-middle col-md-4'>
      <div class='bg-white pb-5 px-4 text-center shadow-lg rounded'>
        <img src='https://i.postimg.cc/L419GThZ/event2logo.gif' alt='' style='height: 200px;' />
        <p class='pb-4'><a class='btn btn-outline-primary' href='/products' role='button'>Ver Productos</a> </p>
        <p><a class='btn btn-outline-primary' href='/auth/login' role='button'>Registrarse o Iniciar Sesión</a></p>
      </div>
    </div>
  </div>
</div>