<h2 class="text-center my-4 pt-5">Enviar Mail</h2>

{{> nav}}

 <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/mail/send" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Para:</label>
            <input type="email" class="form-control" id="email" name="email" value={{email}} required>
          </div>

          <div class="mb-3">
            <label for="subject" class="form-label">Asunto:</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Ingrese el asunto" required>
          </div>


          <div class="mb-3">
            <label for="message" class="form-label">Mensaje:</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
          </div>
          <div class="g-recaptcha py-3" data-sitekey={{RECAPTCHA_SITE_KEY}}></div>
          {{#if captcha_error}}
           <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
              <i class="bi-exclamation-octagon-fill"></i>
              <strong class="mx-2">Error!</strong> en la verificación de reCAPTCHA. Por favor, inténtalo de nuevo.
          </div>
           {{/if}}
          <button type="submit" class="btn btn-primary">Enviar Email</button>
        </form>
      </div>
    </div>
  </div>