<h2 class="text-center my-4 pt-5">Recuperar Contraseña</h2>

{{> nav}}

<div class="col-md-6 mx-auto text-center">
  <div class="form-container bg-light p-5 rounded">
    <form action="/auth/password-recovery" method="POST">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control w-50 mx-auto"
          placeholder="Ingresa tu email"
          style="margin-bottom: 16px"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block w-50 mx-auto">
        Recuperar Contraseña
      </button>
    </form>
    {{#if error}}
   <div class="mt-4 alert alert-danger alert-dismissible d-flex align-items-center fade show">
              <i class="bi-exclamation-octagon-fill"></i>
              <strong class="mx-2">Error!</strong>{{error}}
          </div>
    {{/if}}
  </div>