<h2 class="text-center my-4 pt-5">Registrar una Cuenta</h2>

{{> nav}}

<div class="col-md-6 mx-auto text-center">
  <div class="form-container bg-light py-4 rounded">
    <form action="/auth/register" method="POST">
      <div class="form-group">
        <label for="firstname">Nombre</label>
        <input type="text" name="first_name" id="firstname" class="form-control w-50 mx-auto"
          placeholder="Ingresa tu nombre" style="margin-bottom: 16px" required />

        <label for="lastname">Apellido</label>
        <input type="text" name="last_name" id="lastname" class="form-control w-50 mx-auto"
          placeholder="Ingresa tu apellido" style="margin-bottom: 16px" required />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control w-50 mx-auto" placeholder="Ingresa tu email"
          style="margin-bottom: 16px" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
      </div>
      <label for="age"> Edad: </label>
      <input type="number" name="age" id="age" class="form-control w-50 mx-auto" step="1" class="form-control"
        placeholder="Ingrese su edad" style="margin-bottom: 16px" required />
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control w-50 mx-auto"
          placeholder="Ingresa tu contraseña" style="margin-bottom: 16px" required />
      </div>

      <button type="submit" class="btn btn-primary btn-block">
        Registrarse
      </button>
    </form>
    <p class="text-center my-3">
      <a class="text-decoration-none" href="/auth/login"><small>Ya tienes cuenta?. Ingresar</small></a>
    </p>
  </div>
</div>
</div>