<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="" href="http://localhost:8080/products">
      <img
        src="https://i.postimg.cc/vB4Vkc4D/ecommerce-2.gif"
        alt="logo"
        width="100px"
        style="margin-left: 1.4rem;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a
            class="nav-link"
            style="color:azure;"
            href="http://localhost:8080/products"
          >
            Volver al Home
            <i class="bi bi-house-door-fill"></i>
          </a></li>
      </ul>
    </div>
  </div>

</nav>